.main {
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: green;

}

.header {
  width: 450px;
  margin: auto;
  text-align: center;
}

.heading {
  color: whitesmoke;
  display: inline;
  margin-right: 20px;
}

.body {
  background-color: black;
  height: 97vh;
}